# FastAPI приложение
fastapi==0.135.1
uvicorn==0.41.0
pydantic==2.12.5
pydantic-settings==2.13.1

# MongoDB
pymongo==4.16.0

# HTTP клиент
httpx==0.28.1

# HTML парсинг
lxml==6.0.2

# Утилиты
python-dateutil==2.9.0.post0
